[submodule "external/CCcovariance"]
	path = external/CCcovariance
	url = https://gitlab.com/mmoresco/CCcovariance.git
[submodule "external/fsps"]
	path = external/fsps
	url = https://github.com/cconroy20/fsps.git
[submodule "ceridwen"]
	path = ceridwen
	url = https://github.com/Espe13/ceridwen.git
[submodule "external/archify"]
	path = external/archify
	url = https://github.com/tt-a1i/archify.git
